rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /carousel_drafts/{carouselId}/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
